.monuments-list-header {
    padding: 15px;
    margin-bottom: 15px;
}

.monuments-list-container {
    border-radius: 5px;
}

.monuments-list-container h4 {
    font-size: 14px;
    font-weight: 600;
}

.monuments-list-img {
    max-height: 150px;
    width: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

