.App {
}

#App-navigation {
  border-radius: 0 !important;
  background-color: #3f3f3f;
  border: 1px solid #646464;
}

.App-logo {
  height: 90px;
}

.login-button {
  margin-top: 5px;
  text-align: center;
}

.navbar-toggle {
  margin-top: 25px;
}

.nav-elements {
  text-align: center;
  margin-top: 20px;
}

.nav-element {
  font-size: 17px;
  padding: 5px 15px;
  text-decoration: none !important;
  color: white !important;
}

.nav-element:hover {
  color: #dddddd !important;
}

#user-greeting {
  color: white;
  display: inline-block;
}

