.App {
}

#App-navigation {
  border-radius: 0 !important;
  background-color: #3f3f3f;
  border: 1px solid #646464;
}

.App-logo {
  height: 100px;
}

.logo-container {
}

.login-button {
  margin-top: 10px;
}

.nav-elements>li>a {
  margin-top: 30px;
  padding: 5px 2px;
}



