.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.monuments-list-header {
  padding: 15px;
  margin-bottom: 15px;
}

.monuments-list-container {
  border-radius: 5px;
}

.monuments-list-img {
  max-height: 210px;
  width: auto;
  margin: 15px 5px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
